<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id = "menu_qrcode_root" name ="QR" sequence='1000' web_icon="Jeisys_QR,static/description/icon.png"/>

    <menuitem id = "menu_qrcode_View" name ="View" parent='menu_qrcode_root' action='action_qr_view' sequence = "1"/>
    <menuitem id = "menu_qrcode_List" name ="List" parent='menu_qrcode_root' action='action_qr_list' sequence = "2"/>
    <menuitem id = "menu_qrcode_option" name ="Option" parent='menu_qrcode_root' action ='action_qr_option' sequence = "3"/>
    

</odoo>
